@import url('https://fonts.googleapis.com/css?family=Koulen|Nabla|Rancho&display=swap');

@media (min-width:1025px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    body {
        overflow-x: hidden;
        background: white;
        min-height: 100vh;
        overflow-x: hidden;
        align-items: center;
        justify-content: center;
        scroll-behavior: smooth;
    }

    header {
        position: fixed;
        left: 0;
        height: 75px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        overflow: hidden;
    }

    .logo {
        width: 140px;
        margin-left: 5vh;
    }

    nav {
        height: 5vh;
        left: 0;
        width: 35%;
        justify-content: space-around;
        top: 0;
        list-style: none;
    }

    nav a {
        position: relative;
        display: block;
        float: right;
        font-family: 'Koulen';
        text-decoration: none;
        font-size: 18px;
        padding: 0px 20px;
        color: dodgerblue;
        border-radius: 10px;
        letter-spacing: 2px;
    }

    nav a::after {
        content: "";
        position: absolute;
        background-color: dodgerblue;
        height: 2px;
        width: 0%;
        left: 1.8vh;
        bottom: -2px;
        transition: 0.3s;
    }

    nav a:hover {
        color: black;
    }

    nav a:hover::after {
        width: 75%;
    }

    nav .menu-hamburger {
        cursor: pointer;
        display: none;
        right: 50px;
        top: 0;
        position: absolute;
        width: 35px;
    }

    section {
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .parallax {
        background: white;
    }

    section::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100;
        background: linear-gradient(to top, black, transparent);
        z-index: 1000;
    }

    section img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        pointer-events: none;
        justify-content: space-around;
        overflow: hidden;
    }

    section img#bg {
        width: 100%;
        height: 100%;
    }

    section img#grl1 {
        z-index: 10;
        left: 39vh;
        top: 12vh;
        bottom: 10vh;
        width: 30%;
        transition: 0.6%;
    }

    section img#grl2 {
        z-index: 10;
        width: 35%;
        top: 15.9vh;
        bottom: 10vh;
        left: 98vh;
    }

    section img#pot {
        width: 13%;
        left: 127vh;
        top: -29vh;
        overflow-x: hidden;
    }

    #text {
        top: 33vh;
        left: 66vh;
        position: absolute;
        font-family: 'Rancho';
        font-size: 4vw;
        color: steelblue;
        white-space: nowrap;
        z-index: 9;
        transform: translateY(100px);
    }

    #home,
    #products,
    #contact,
    #aboutus {
        position: relative;
        width: 100%;
        background: white;
        height: 100vh;
        padding: 100px;
    }

    .home .wel h2 {
        position: relative;
        font-family: 'Nabla';
        font-size: 60px;
        letter-spacing: 2px;
        top: -290px;
        text-align: center;
    }
}
.column {
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  .row {
    margin: 0 -5px;
}


#home .wrd{
   margin-top: -20vh;
   
}
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}

.fa {font-size:50px;}
.container{
    width: 80vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.head{
    width: 100%;
    text-align: center;
}
.head h1{
    font-size: 4em;
    text-transform: uppercase;
    color: var(--textColor);
}
.products{
    width: 100%;
    align-self: center;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    overflow: auto;
}
.product{
    position: relative;
    background-color:#f2f2f2;
    width: 350px;
    height: 100%;
    margin-top: 5vh;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: .3s;
}
.product:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.image{
    width:100%;
    height: 60%;
    display: grid;
    place-content: center;
}
.image .img1{
    width: 160px;
    padding-bottom: 25vh;
    padding-left: 3vh;
}
.image .img2{
    width: 200px;
    padding-bottom: 25vh;
    padding-left: 3vh;
}
.image .img3{
    width: 150px;
    padding-bottom: 25vh;
    padding-left: 3vh;
}
.image .img4{
    width: 150px;
    padding-bottom: 25vh;
    padding-left: 3vh;
}
.namePrice{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.namePrice h3{
    font-size: 2em;
    text-transform: capitalize;
    color: var(--textColor);
}
.namePrice span{
    font-size: 1.5em;
    color: var(--starColor);
}
.product p{
    font-size: 18px;
    line-height: 25px;
}
.stars svg{
    font-size: 1.3em;
    color: var(--starColor);
}
.bay{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.bay button{
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color:aquamarine;
    color: var(--sectionBack);
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
}
.bay button:hover{
    transform: scale(1.1);
}
#products .checked{
    color: #FFD700;
}

/*   Contact   */
#contact .row{
    width: 80%;
}
form input[type=text] {
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    
}
 form input[type=checkbox]{
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
 }

/* About us*/
.counter-up{
    background: url("images/bg-2.jpeg") no-repeat;
    min-height: 50vh;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 50px;
    position: relative;
    display: flex;
    align-items: center;
  }
  .counter-up::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
  }
  .counter-up .content{
    z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .counter-up .content .box{
    border: 1px dashed rgba(255,255,255,0.6);
    width: calc(25% - 30px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
  }
  .content .box .icon{
    font-size: 48px;
    color: #e6e6e6;
  }
  .content .box .counter{
    font-size: 50px;
    font-weight: 500;
    color: #f2f2f2;
    font-family: sans-serif;
  }
  .content .box .text{
    font-weight: 400;
    color: #ccc;
  }
.counter-up .content .days{
    display: flex;
    gap : 10px;
}
.counter-up .content .days p{
    padding-top: 5px;
    font-size: 40px;
    color: white;
}
.content .box .icon #shop{
    font-size: 53px;
}
.aboutus{
    display: block;
}
.aboutus h2{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*   Footer   */

body {
    margin:0;
  }
  
 .flex h1 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 2px;
    font-size:30px;
  }
 .foot p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size:14px;
    color: #333333;
  }
  
  .header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
    margin-top: -10vh;
  }
  .pic {
    width:50px;
    fill:white;
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
  }
  
  .inner-header {
    height:20vh;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 .header .flex img{
    width: 150px;
  }
.header h1{
    padding-top: 4vh;
    color:#ccc ;
}
.header p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color:aliceblue;
}
.header p img{
    width: 40px;
}
  .waves {
    position:relative;
    width: 100%;
    height:25vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .foot {
    position:relative;
    height:10vh;
    padding-top: 10vh;
    text-align:center;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
.footinfo:after{
    content: "";
  display: table;
  clear: both;
}
.info1{
    float: left;
  width: 50vh;
  padding: 10px;
}
.cal img{
    width: 43px;
}
.mail img{
    width: 43px;
}
.mail p{
    padding-top: 2vh;
}
.mail{
    display: flex;
    gap: 10px;
}
.cal{
    display: flex;
    gap: 10px;
}
.cal p{
    padding-top: 5vh;
}
.insta img{
    width: 30px;
}
.insta{
    display: flex;
    gap: 10px;
    padding-top: 2vh;
}
.loc {
    display:flex;
    gap: 10px;
}
.loc .fas{
    margin-left: 1vh;
    padding-top: 2vh;
}
.loc p{
    padding-right: 25vh;
    padding-top: 2vh;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: large;
}
  /* Animation */
  
  .parallax2 > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax2 > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax2 > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax2 > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax2 > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }





@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

    body {
        overflow-x: hidden;
        background: white;
        min-height: 100vh;
        overflow-x: hidden;
    }

    header {
        position: fixed;
        width: 100%;
        display: flex;
        padding: 0px 5px 5px 5px;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        overflow: hidden;
    }

    .logo {
        width: 85px;
    }

    nav a:nth-child(4) {
        display: none;
    }

    nav a {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    nav .menu-hamburger {
        display: none;
        margin-right: 10px;
    }

    section {
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        overflow-x: hidden;
    }

    .parallax {
        background: white;
    }

    section::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100;
        background: linear-gradient(to top, black, transparent);
        z-index: 1000;
    }

    section img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        pointer-events: none;
        justify-content: space-around;
        overflow: hidden;
    }

    section img#bg {
        width: 100%;
        height: 100%;
    }

    section img#grl1 {
        z-index: 10;
        left: 9vh;
        top: 5.3vh;
        bottom: 7vh;
        width: 30%;
        transition: 0.10%;
    }

    section img#grl2 {
        z-index: 10;
        width: 38%;
        top: 5.7vh;
        bottom: 8vh;
        left: 26vh;
    }

    section img#pot {
        width: 15%;
        left: 35vh;
        top: -9.1vh;
        overflow-x: hidden;
    }

    #text {
        top: 37vh;
        left: 11vh;
        position: absolute;
        font-family: 'Rancho';
        font-size: 7vw;
        color: steelblue;
        white-space: nowrap;
        z-index: 9;
        transform: translateY(100px);
    }

    #home,
    #products,
    #contact,
    #aboutus {
        position: relative;
        width: 100%;
        background: white;
        height: 100vh;
        padding: 100px;
    }

    #home h2 {
        position: relative;
        font-family: 'Nabla';
        font-size: 60px;
        letter-spacing: 2px;
        top: -290px;
    }
}